
<div class="container">
  <h1>Stupid Coach</h1>

  <p>Ask your coach a question</p>
  <blockquote class="blockquote">
    <%= @answer %>
    <br>
    <cite>-Your Coach</cite>
    </blockquote>

  <%= link_to "Ask a new question", ask_path %>
</div>
